<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Search Serie</title>
        
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <script src="jquery/jquery-3.2.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <link type = "text/css" rel = "stylesheet" href = "css/stylesheet.css"/>    
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    </head>
    <body ng-app="App">
        <div ng-controller="ControllerSearch" class = "searchSeries">
            <table class="table">
                <thead>
                    <tr>
                        <td class = "titleTable">Search Results</td>
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="serie in series.Search">
                        <td><img ng-src="{{serie.Poster}}" class="img-thumbnail" width="304" height="236"></td>
                        <td class = "textTable">{{serie.Title}}, {{serie.Year}}</td>
                        <td><button ng-click="addSerieToProfile(serie.Title, serie.Year, serie.Poster)" class="btn btn-primary btn-lg">Add serie to profile</button></td>
                        <td><button ng-click="addSerieToWatchlist(serie.Title, serie.Year, serie.Poster)" class="btn btn-primary btn-lg">Add serie to watchlist</button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button ng-click="backToHomePage()" class="btn btn-primary btn-lg">Back</button>
            </div>
        </div>

        <script src = "module - controllers/aplicacaoModule.js"></script>
        <script src = "module - controllers/controllerPesquisa.js"></script>
    </body>
</html>