<!DOCtYPE html>
<html>
    <head>
    <title>Watchlist Series</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    </head>

    <body>
    <div ng-app="App">
        <div ng-controller="ControllerWatchlist" class = "searchSeries">
           <table class="table">
                <thead>
                    <tr>
                        <td class = "titleTable">Watchlist Series</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="serie in seriesWatchlist">            
                        <td><img ng-src="{{serie.img}}" class="img-thumbnail" width="304" height="236"></td>
                        <td class = "textTable">{{serie.name}}</td>
                        <td><button ng-click="addSerieToProfile(serie.name, serie.year, serie.img)" class="btn btn-primary btn-lg">Add serie to profile</button></td>
                    </tr>
                </tbody>
           </table>
           <div>
                <button ng-click="backToHomePage()" class="btn btn-primary btn-lg">Back</button>
            </div>
        </div>
    </div>

    <script src="module - controllers/aplicacaoModule.js"></script>
    <script src="module - controllers/controllerWatchlist.js"></script>

</body>
</html>